<div id="nav">
  <ul>
    <li><a href="/newconfession">New Confession</a></li>
    <li><a href="/confessions">View Confessions</a></li>
    <li><a href="/wordcounts">Wordcounts</a></li>
    <li><a href="/namecounts">Namecounts</a></li>
  </ul>
</div>
